# Android / Kotlin
*.iml
.gradle/
.local/
/local.properties
/.idea/
/build/
.cxx/
.externalNativeBuild/
captures/
navigation.json

# Android Studio
/.fleet/
out/

# OS / Mac
.DS_Store
Icon?
Thumbs.db
ehthumbs.db

# APKs / bundles
*.apk
*.ap_
*.aab

# Logs / caches
*.log
*.tmp
*.cache
*.bak